@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --black: #111122;
    --darkGray: #4d4d4d;
    --gray: #939393;
    --lightGray: #cfcfcf;
    --light: #F0F1F3;
    --white: #ffffff;

    --error: #ff4d4d;
    --success: #4caf50;

    --shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--black);
    font-family: 'Inter', sans-serif;
}

html { height: 100%; }
body {
    height: 100%;
    background: var(--light);
}
#root {
    height: 100%;
}