.header {
    display: flex;
    flex-direction: column;
    background: var(--white);
    box-shadow: var(--shadow);
    position: sticky;
    user-select: none;
    top: 0;
    z-index: 1000;
}
.header--content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 20px;
}
.header--group {
    display: flex;
    align-items: center;
    gap: 25px;
}
.header--title {
    font-weight: 600;
}
.header--line {
    border: none;
    height: 3px;
    background: var(--black);
    width: 20px;
    border-radius: 999px;
}
.header--label {
    display: flex;
    align-items: center;
    gap: 10px;
    background: var(--light);
    padding: 5px 15px;
    border-radius: 999px;
    font-size: 14px;
    color: var(--darkGray);
    cursor: pointer;
    & > span {
        font-size: 16px;
        color: inherit;
    }
}
.header--links {
    display: flex;
    align-items: center;
    gap: 50px;
}
.header--link {
    border: none;
    background: none;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.header--expand {
    border: none;
    background: var(--white);
    border-radius: 999px;
    display: flex;
    padding-inline: 15px;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    cursor: pointer;
    translate: -50% 50%;
    box-shadow: var(--shadow);
    transition-duration: .3s;
    & > span {
        color: var(--darkGray);
        transition-duration: .3s;
    }
}
.header--expandable {
    display: none;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    border-top: 3px solid var(--light);
    padding: 20px 20px 35px;
}
.header--subtitle {
    font-size: 20px;
    font-weight: 500;
    color: var(--darkGray);
}
.header--button {
    width: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background: var(--black);
    color: var(--white);
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    transition-duration: .3s;
}
.header--list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-height: 500px;
    overflow-y: auto;
}

.upload {
    background: var(--light);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    user-select: none;
    width: 100%;
    max-width: 400px;
}
.upload--icon {
    font-size: 16px !important;
}
.icon__success { color: var(--success) !important; }
.upload--head {
    display: flex;
    align-items: center;
    gap: 10px;
}
.upload--filename {
    font-size: 14px;
    font-weight: 500;
    color: var(--darkGray);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.upload--bar {
    width: 100%;
    height: 3px;
    background: var(--lightGray);
    border-radius: 3px;
    overflow: hidden;
}
.upload--progress {
    height: 100%;
    background: var(--black);
    border-radius: 3px;
}

#expandable--header:checked ~ .header--expandable {
    display: flex;
}
#expandable--header:checked ~ .header--expand > span {
    rotate: 180deg;
}

.page {
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 35px;
}

.nav {
    display: flex;
    align-items: center;
    gap: 50px;
    width: fit-content;
}

.nav--title {
    font-weight: 500;
    font-size: 48px;
}

.files {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 25px;
}

.file {
    max-width: 150px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: none;
    background: none;
    cursor: pointer;
    user-select: none;
}
.file--preview {
    width: 150px;
    aspect-ratio: 1 / 1;
    background: var(--white);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    & > span {
        font-size: 80px !important;
    }
    & > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
}
.file--label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
.file--name {
    font-size: 14px;
    font-weight: 400;
    color: var(--darkGray);
    white-space: nowrap;
    width: fit-content;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.file--actions {
    border: none;
    background: none;
    display: none;
    justify-content: center;
    align-items: center;
    & > span {
        font-size: 16px !important;
        color: var(--darkGray);
        cursor: pointer;
    }
}
.file:hover .file--actions { display: flex; }

.file__loading .file--preview {
    position: relative;
    overflow: hidden;
    background: var(--lightGray);
}
.file__loading .file--preview::after {
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    rotate: 45deg;
    box-shadow: 0 0 100px 35px var(--gray);
    animation: loading 0.85s ease-in-out infinite;
}

@keyframes loading {
    0% {
        left: -100%;
        right: 200%;
    }
    100% {
        left: 200%;
        right: -100%;
    }
}

.actions {
    border: 1px solid var(--lightGray);
    position: absolute;
    top: 50px;
    left: 50px;
    background: var(--white);
    padding: 5px;
    border-radius: 10px;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    z-index: 1000;
}
.action {
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    background: none;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    transition-duration: .3s;
}
.action:hover {
    background: var(--light);
    color: var(--black);
}

@media screen and (max-width: 900px) {
    .header--content {
        flex-direction: column;
        gap: 25px;
        padding-bottom: 35px;
    }
    .header--line {
        display: none;
    }
    .header--group {
        width: 100%;
        gap: 10px;
        justify-content: space-between;
        overflow: hidden;
    }
    .header--label {
        white-space: nowrap;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .header--label--text {
        overflow: hidden;
        max-width: 100%;
        text-overflow: ellipsis;
    }
    .header--links {
        width: 100%;
        gap: 15px;
    }
    .header--link {
        background: var(--lightGray);
        padding: 10px 15px;
        border-radius: 999px;
    }
}